In [1]:
import numpy as np
import pandas as pd
import networkx as nx

In [2]:
#read in data gathered from https://borderingonwisdom.wordpress.com/college-football-coach-database/
df = pd.read_excel(r'C:\Users\BD\Football-Coach-Database.xlsx', sheet_name = 'History by Head Coach')
df

,Current Head Coaches,Age,Birthdate,Alma Mater,2020,2019,2018,2017,2016,2015,...,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958
0,Troy Calhoun,53.0,1966-09-26,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tom Arth,39.0,1981-05-11,John Carroll,Akron,Akron,Chattanooga,Chattanooga,John Carroll,John Carroll,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nick Saban,68.0,1951-10-31,Kent State,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Shawn Clark,44.0,1975-12-01,Appalachian State,Appalachian State,Appalachian State - AHC,Appalachian State - co-OC,Appalachian State - co-OC,Appalachian State - co-OC,Kent State - OL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Sumlin,56.0,1964-08-03,Purdue,Arizona,Arizona,Arizona,Texas A&M,Texas A&M,Texas A&M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Mike Bobo,46.0,1974-04-09,Georgia,NaN,Colorado State,Colorado State,Colorado State,Colorado State,Colorado State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Rocky Long,70.0,1950-01-27,New Mexico,NaN,San Diego State,San Diego State,San Diego State,San Diego State,San Diego State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Tony Sanchez,46.0,1974-01-25,New Mexico State,NaN,UNLV,UNLV,UNLV,UNLV,UNLV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Urban Meyer,56.0,1964-07-10,Cincinnati,NaN,NaN,Ohio State,Ohio State,Ohio State,Ohio State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Mark Dantonio,64.0,1956-03-09,South Carolina,NaN,Michigan State,Michigan State,Michigan State,Michigan State,Michigan State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#remove unwanted rows
df = df[df['Current Head Coaches'] != 'Former Head Coaches']
df

,Current Head Coaches,Age,Birthdate,Alma Mater,2020,2019,2018,2017,2016,2015,...,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958
0,Troy Calhoun,53.0,1966-09-26,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tom Arth,39.0,1981-05-11,John Carroll,Akron,Akron,Chattanooga,Chattanooga,John Carroll,John Carroll,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nick Saban,68.0,1951-10-31,Kent State,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Shawn Clark,44.0,1975-12-01,Appalachian State,Appalachian State,Appalachian State - AHC,Appalachian State - co-OC,Appalachian State - co-OC,Appalachian State - co-OC,Kent State - OL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Sumlin,56.0,1964-08-03,Purdue,Arizona,Arizona,Arizona,Texas A&M,Texas A&M,Texas A&M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Mike Bobo,46.0,1974-04-09,Georgia,NaN,Colorado State,Colorado State,Colorado State,Colorado State,Colorado State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Rocky Long,70.0,1950-01-27,New Mexico,NaN,San Diego State,San Diego State,San Diego State,San Diego State,San Diego State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Tony Sanchez,46.0,1974-01-25,New Mexico State,NaN,UNLV,UNLV,UNLV,UNLV,UNLV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Urban Meyer,56.0,1964-07-10,Cincinnati,NaN,NaN,Ohio State,Ohio State,Ohio State,Ohio State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Mark Dantonio,64.0,1956-03-09,South Carolina,NaN,Michigan State,Michigan State,Michigan State,Michigan State,Michigan State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#remove unneeded columns
df = df.drop(['Age','Birthdate','Alma Mater'], axis = 1)
df

,Current Head Coaches,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958
0,Troy Calhoun,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,Air Force,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tom Arth,Akron,Akron,Chattanooga,Chattanooga,John Carroll,John Carroll,John Carroll,John Carroll,John Carroll - Asst,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nick Saban,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Shawn Clark,Appalachian State,Appalachian State - AHC,Appalachian State - co-OC,Appalachian State - co-OC,Appalachian State - co-OC,Kent State - OL,Kent State - OL,Kent State - OL,Purdue - OL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Sumlin,Arizona,Arizona,Arizona,Texas A&M,Texas A&M,Texas A&M,Texas A&M,Texas A&M,Texas A&M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Mike Bobo,NaN,Colorado State,Colorado State,Colorado State,Colorado State,Colorado State,Georgia - OC,Georgia - OC,Georgia - OC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Rocky Long,NaN,San Diego State,San Diego State,San Diego State,San Diego State,San Diego State,San Diego State,San Diego State,San Diego State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Tony Sanchez,NaN,UNLV,UNLV,UNLV,UNLV,UNLV,Bishop Gorman HS (NV),Bishop Gorman HS (NV),Bishop Gorman HS (NV),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Urban Meyer,NaN,NaN,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Mark Dantonio,NaN,Michigan State,Michigan State,Michigan State,Michigan State,Michigan State,Michigan State,Michigan State,Michigan State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#create variables needed for melt (de-pivoting of data)
id_vars = ['Current Head Coaches']
value_vars = df[df.drop('Current Head Coaches', axis = 1).columns] #list of all columns but 'Current Head Coaches'
var_name = 'year'
value_name = 'team'

In [6]:
#collapse data from pivot table into a database-like structure
df = df.melt(id_vars=id_vars, value_vars=value_vars, var_name=var_name, value_name=value_name)
df

     Current Head Coaches  year               team
0            Troy Calhoun  2020          Air Force
1                Tom Arth  2020              Akron
2              Nick Saban  2020            Alabama
3             Shawn Clark  2020  Appalachian State
4            Kevin Sumlin  2020            Arizona
...                   ...   ...                ...
9634            Mike Bobo  1958                NaN
9635           Rocky Long  1958                NaN
9636         Tony Sanchez  1958                NaN
9637          Urban Meyer  1958                NaN
9638        Mark Dantonio  1958                NaN

[9639 rows x 3 columns]

In [7]:
#remove blanks (years where a coach did not coach)
df = df.dropna()
df

     Current Head Coaches  year                     team
0            Troy Calhoun  2020                Air Force
1                Tom Arth  2020                    Akron
2              Nick Saban  2020                  Alabama
3             Shawn Clark  2020        Appalachian State
4            Kevin Sumlin  2020                  Arizona
...                   ...   ...                      ...
8186         Frank Solich  1967  Omaha Holy Name HS (NE)
8339         Frank Solich  1966  Omaha Holy Name HS (NE)
8492         Frank Solich  1965        Nebraska - player
8645         Frank Solich  1964        Nebraska - player
8798         Frank Solich  1963        Nebraska - player

[4573 rows x 3 columns]

In [8]:
#rename columns for ease of use
df.columns = ['coach','year','team']
df

             coach  year                     team
0     Troy Calhoun  2020                Air Force
1         Tom Arth  2020                    Akron
2       Nick Saban  2020                  Alabama
3      Shawn Clark  2020        Appalachian State
4     Kevin Sumlin  2020                  Arizona
...            ...   ...                      ...
8186  Frank Solich  1967  Omaha Holy Name HS (NE)
8339  Frank Solich  1966  Omaha Holy Name HS (NE)
8492  Frank Solich  1965        Nebraska - player
8645  Frank Solich  1964        Nebraska - player
8798  Frank Solich  1963        Nebraska - player

[4573 rows x 3 columns]

In [9]:
#test data to eye check validity
df[df['coach'] == 'Mike Norvell']

             coach  year                       team
33    Mike Norvell  2020              Florida State
186   Mike Norvell  2019                    Memphis
339   Mike Norvell  2018                    Memphis
492   Mike Norvell  2017                    Memphis
645   Mike Norvell  2016                    Memphis
798   Mike Norvell  2015         Arizona State - OC
951   Mike Norvell  2014         Arizona State - OC
1104  Mike Norvell  2013         Arizona State - OC
1257  Mike Norvell  2012         Arizona State - OC
1410  Mike Norvell  2011               Pitt - co-OC
1563  Mike Norvell  2010                Tulsa - PGC
1716  Mike Norvell  2009                Tulsa - PGC
1869  Mike Norvell  2008                 Tulsa - WR
2022  Mike Norvell  2007                 Tulsa - WR
2175  Mike Norvell  2006      Central Arkansas - GA
2328  Mike Norvell  2005  Central Arkansas - player
2481  Mike Norvell  2004  Central Arkansas - player
2634  Mike Norvell  2003  Central Arkansas - player
2787  Mike Norvell  2002  Central Arkansas - player
2940  Mike Norvell  2001  Central Arkansas - player

In [10]:
#use str.split to separate the team and position values (e.g. separate 'Arizona State - OC' into 'Arizona State', 'OC')
df[['team', 'position']] = df['team'].str.split(" - ",  expand = True)
df

C:\Users\5257558\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

             coach  year                     team position
0     Troy Calhoun  2020                Air Force     None
1         Tom Arth  2020                    Akron     None
2       Nick Saban  2020                  Alabama     None
3      Shawn Clark  2020        Appalachian State     None
4     Kevin Sumlin  2020                  Arizona     None
...            ...   ...                      ...      ...
8186  Frank Solich  1967  Omaha Holy Name HS (NE)     None
8339  Frank Solich  1966  Omaha Holy Name HS (NE)     None
8492  Frank Solich  1965                 Nebraska   player
8645  Frank Solich  1964                 Nebraska   player
8798  Frank Solich  1963                 Nebraska   player

[4573 rows x 4 columns]

In [11]:
#another eye check
df[df['coach'] == 'Mike Norvell']

             coach  year              team position
33    Mike Norvell  2020     Florida State     None
186   Mike Norvell  2019           Memphis     None
339   Mike Norvell  2018           Memphis     None
492   Mike Norvell  2017           Memphis     None
645   Mike Norvell  2016           Memphis     None
798   Mike Norvell  2015     Arizona State       OC
951   Mike Norvell  2014     Arizona State       OC
1104  Mike Norvell  2013     Arizona State       OC
1257  Mike Norvell  2012     Arizona State       OC
1410  Mike Norvell  2011              Pitt    co-OC
1563  Mike Norvell  2010             Tulsa      PGC
1716  Mike Norvell  2009             Tulsa      PGC
1869  Mike Norvell  2008             Tulsa       WR
2022  Mike Norvell  2007             Tulsa       WR
2175  Mike Norvell  2006  Central Arkansas       GA
2328  Mike Norvell  2005  Central Arkansas   player
2481  Mike Norvell  2004  Central Arkansas   player
2634  Mike Norvell  2003  Central Arkansas   player
2787  Mike Norvell  2002  Central Arkansas   player
2940  Mike Norvell  2001  Central Arkansas   player

In [12]:
#when no position is listed, that means the coach was Head Coach. Fill in the blanks to reflect that
df['position'] = df['position'].fillna('HC')
df

C:\Users\5257558\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             coach  year                     team position
0     Troy Calhoun  2020                Air Force       HC
1         Tom Arth  2020                    Akron       HC
2       Nick Saban  2020                  Alabama       HC
3      Shawn Clark  2020        Appalachian State       HC
4     Kevin Sumlin  2020                  Arizona       HC
...            ...   ...                      ...      ...
8186  Frank Solich  1967  Omaha Holy Name HS (NE)       HC
8339  Frank Solich  1966  Omaha Holy Name HS (NE)       HC
8492  Frank Solich  1965                 Nebraska   player
8645  Frank Solich  1964                 Nebraska   player
8798  Frank Solich  1963                 Nebraska   player

[4573 rows x 4 columns]

In [13]:
#create another column combining the year and team into a single variable
#this allows us to easily distinguish between different iterations of the same team when we create the network
df['squad'] = df['year'].apply(str) + ' '+ df['team']
df

C:\Users\5257558\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coach,year,team,position,squad
0,Troy Calhoun,2020,Air Force,HC,2020 Air Force
1,Tom Arth,2020,Akron,HC,2020 Akron
2,Nick Saban,2020,Alabama,HC,2020 Alabama
3,Shawn Clark,2020,Appalachian State,HC,2020 Appalachian State
4,Kevin Sumlin,2020,Arizona,HC,2020 Arizona
...,...,...,...,...,...
8186,Frank Solich,1967,Omaha Holy Name HS (NE),HC,1967 Omaha Holy Name HS (NE)
8339,Frank Solich,1966,Omaha Holy Name HS (NE),HC,1966 Omaha Holy Name HS (NE)
8492,Frank Solich,1965,Nebraska,player,1965 Nebraska
8645,Frank Solich,1964,Nebraska,player,1964 Nebraska
8798,Frank Solich,1963,Nebraska,player,1963 Nebraska

In [14]:
df.to_csv('CFB Coaches.csv', index = False)